
{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<label class="col-form-label">
</label>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><h2>歡迎參加我們的實驗！</h2></p>
<p><h4>這個實驗是有關天分與努力的競賽。實驗一開始，每一位參與者會得到一個「天分」，天分有高有低，是電腦隨機決定的。接著，在每一回合競賽中，每一位參與者決定要花上多少努力，加上天分，與對手的天分和努力做比較，如果比對手高，就贏得該回合的比賽，得到 20 點數的獎賞；如果比對手低，輸了比賽，得不到獎賞；如果與對手打平，則與對手平分獎賞。</h4></p>
<p><h4>在每一回合中，每一位參與者都有 10 點的「努力」點數可以支用，您自行決定要動用多少的努力點數，剩餘的點數將存放在您的帳戶中，最後換算成報酬給您。</h4></p>

<p><b>舉例來說，假設您的天分是 5，而對手的天分是 7：</b></p>
<p><b>(情況一)：</b>您努力 3 點，對手努力 0 點，在此情況下，您的表現，也就是天分加上努力（5+3 = 8），高於對手的表現（7+0 = 7），所以您贏了比賽，獲得獎賞 20 點，加上您剩餘的 10-3 = 7 點的努力，最後您的淨值為 27 點</p>
<p><b>(情況二)：</b>您努力 3 點，對手努力 1 點，在此情況下，您的表現，也就是天分加上努力（5+3 = 8），與對手打平（7+1 = 8），所以您與對手平分獎賞獲得 10 點，加上您剩餘的 10-3 = 7 點的努力，最後您的淨值為 17 點</p>
<p><b>(情況三)：</b>您努力 3 點，對手努力 3 點，在此情況下，您的表現，也就是天分加上努力 (5+3 = 8），低於對手的表現（7+3 = 10），所以您輸了比賽，獲得獎賞0點，加上您剩餘的 10-3 = 7 點的努力，最後您的淨值為 7 點</p>

<p>請注意，在比賽時，您可能知道，也可能不知道對方的天分是多少，這取決您和對手彼此決定，是否在賽前透露自己的天分給對方知道。天分是固定的，不會更改，但努力程度，是您可以決定的，而且您的努力程度，會只有您自己知道，對手將不會知道。</p>
<p>以上說明，是否清楚？若是不夠清楚，請再閱讀一次講解。</p>
<p>若是已經明瞭以上的說明，請按下面的NEXT鍵繼續。</p>
</body>
</html>
{% next_button %}
{% endblock %}